    /*	Author: 	Eleanor Durrant
				Version: 	2.1	*/
		body{
				background-color:#1F2047;
				color:#ffEEEE;
				padding-right: 5%;
				padding-left: 5%;
				font-family: 'Century Gothic', Verdana, sans-serif;
		}
		h1{
			font-size: 1.7em;
			font-weight: normal;
		}
    .layoutp{
      float:left;
      padding:0em 1em 1em 1em;
    }
    .graphic{
      fill:white;
      stroke:black;
      stroke-width:0.1mm;
    }
    .control{
      fill:#bbb;
      stroke:#aaa;
      stroke-width:0.4mm;
    }
		.controlActive{
			fill:#eee;
			stroke:#bbb;
			stroke-width:0.4mm;
		}
		.greyout{
			fill:white;
			opacity:0.5;
			display:none;
		}	
		.visInactive{
			fill:transparent;
			stroke:black;
			stroke-width:0.1mm;
		}
		.visActive{
			fill:yellow;
			stroke:black;
			stroke-width:0.1mm;
		}
		.visLine{
			stroke:black;
			stroke-width:0.4mm;
    }
    .controlText,
    .captionText,
    .apText{
      font-family: Century Gothic, Verdana, Sans-Serif;
      text-align: center;
    }
    .controlText{
      font-size: 0.7em;
    }
    .captionText{
      font-size: 0.7em;
    }
    .apText{
      font-size: 1em;
      font-style: italic;
    }